<table>
  <tr>
    <th>Name</th>
    <th>Last Scrapped On</th>
    <th>Action</th>
  </tr>

  <%= for data_source <- @data_sources do %>
    <tr>
      <td> <%= data_source.name %> </td>
      <td> <%= data_source.last_run_at %> </td>
      <td> <a>Scrape</button> </td>
    </tr>
  <% end %>
</table>
